@import './TaskMaster.css';
@import './Task.css';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.signup-container{
    min-height: 100vh;
    display: grid;
    place-items: center;
}


